// Colors

$primary-red:hsl(12, 88%, 59%);
$dkblue: hsl(228, 39%, 23%);
$dkgrayblue: hsl(227, 12%, 61%);
$white: #fff;

// Typography

$font-stack: 'Be Vietnam', sans-serif;

// Font-sizes

$font-xlg: 4rem;

// Breakpoints

$tablet:768px;
$desktop:1024px;

